*{
  margin:0rem;
  padding: 0rem;
  list-style: none;
  text-decoration: none;
}
header{
  height: 50vh;
}
.carousel {
  width: 100%;
  height: 45vh;
  position: relative;
  overflow: hidden;
 
 
}
 .carousel__img{
    display: none;

}
 .carousel__img {
  width: 100%;
  height: 100%;
  
 }

 .carousel--visible{
   display: block;
  animation: imgCarouselVisible 0.5;
 }
 @keyframes imgCarouselVisible {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
     transform: opacity linear;
   }
 }
.carousel .carousel__actions{
  top:50%;
}
 .carousel__actions{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  transform: translateY(-50%);
  
}
.carousel__actions  button{
  width: 2.5rem;
  height: 3.5rem;
  background-color: rgba(34, 33, 33, 0.1);
  border-radius: 1rem;
  cursor: pointer;
  color:#FFF;
  font-weight: bolder;
  font-size: 2rem;
 pointer-events: auto;

}
.carousel__actions button:hover{
  background-color: rgb(204, 197, 194);

}
.carousel__actions button[data-js="carousel__button--prev"] {
  margin-left: 20px;

}

.carousel .carousel__actions button[data-js="carousel__button--next"] {
  margin-right: 20px;
  
}
/* ----------------------------------------------------------------------*/
.menu {
  width: 100%;
  height: 5vh;
  background-color:rgba(255, 255, 255, 0.1);
  position: fixed;
}

.navegation li {
  display: inline;
  font-size: 1.3rem;
  margin-right: 5rem;
  margin-left: 5rem;
  text-align: center;
  cursor: pointer;
  color: black;
  
}
.navegation li:hover{
  color: rgb(255, 255, 255);
}
.menu-fixo {
  width: 100%;
  height: 5vh;
  background-color:rgb(44, 160, 40);
  position: relative;
}
.quem-somos{
 width: 100%;
 height: 50vh;
 position: relative;
}
.quem-titulo{
  margin-right: 50%;
 
}
.title-section{
  font-size: 3rem;
  display: flex;
  position:relative;
  margin-left: 2rem;
  color: rgb(6, 51, 6);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.quem-titulo p{
font-size: 1.5rem;
object-fit: cover;
position: relative;
}
.img-quem {
  width: 50%;
  height: 100%;
  position: relative;
  margin-left: 50%;
  margin-top: -18.2rem;
}
.img-quem img{
 width: 100%;
 height: 100%;
 border-radius: 2rem;
}
/*-------------------------------------------------------------------------------------*/
.store{
    width: 100%;
    height: 80vh;
    background-color: grey;
}

.store_carousel{
  width: 100%;
  height: 20vh;
  position: relative;
  overflow: hidden;
}

.store__image{
  display: none;
}

.store__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.store__image img{
  object-fit: cover;
  width: 100%;
}

.store__image--visible{
 display: grid;
 grid-template-columns: repeat(16,1fr);
 grid-template-rows: repeat(6,6rem);
 animation:storeImageVisible 0.5;
 row-gap: .5rem;
 object-fit: cover;
}
.store__image--visible:nth-child(1){
  grid-column: 4/ 7;
  grid-row: 3/ 5;
}
@keyframes storeImageVisible{
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
    animation:  opacity linear;
  }
}
.store-carousel .carousel__actions button[data-js="carousel__button--prev"]{
  margin-left: 2rem;
}
.store-carousel .carousel__actions button[data-js="carousel__button--next"]{
  margin-right: 2rem;
}
 
 